[submodule "PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo-pdf"]
	path = themes/hugo-pdf
	url = https://github.com/sytranvn/hugo-pdf.git
